.box-service {
    width: 270px;
    height: 340px;
    background-color: var(--white);
    border-radius: 20px;
}

.bg-banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 700px;
    padding-bottom: 120px;
}

.box-1 {
    width: 100%;
    min-height: 400px;
    height: 401px;
    background: linear-gradient(180deg, #FFB5B8 0%, rgba(255, 181, 184, 0.4) 100%);
    border-radius: 20px;

    .circle {
        width: 79px;
        height: 79px;
        border-radius: 160px;
        border: 1px solid rgb(0 0 0 / 18%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 24px;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: #202020;
            color: var(--white);
        }
    }
}

.box-2 {
    width: 100%;
    min-height: 400px;
    height: 401px;
    background: linear-gradient(180deg, #FEE1C4 0%, rgba(254, 225, 196, 0.4) 100%);
    border-radius: 20px;

    .circle {
        width: 79px;
        height: 79px;
        border-radius: 160px;
        border: 1px solid rgb(0 0 0 / 18%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 24px;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: #202020;
            color: var(--white);
        }
    }
}

.box-3 {
    width: 100%;
    min-height: 400px;
    height: 401px;
    background: linear-gradient(180deg, #E5E3E3 0%, rgba(229, 227, 227, 0.4) 100%);
    border-radius: 20px;

    .circle {
        width: 79px;
        height: 79px;
        border-radius: 160px;
        border: 1px solid rgb(0 0 0 / 18%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 24px;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: #202020;
            color: var(--white);
        }
    }
}


.hero-bg {
    background-image: url(../img/hero-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.products-menu {
    gap: 24px;

    button {
        width: 100%;
        height: 76px;
        background: #FFFFFF;
        border: 1px solid #E1E1E1;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 90px;
        }
    }

    .active {
        border: 2px solid #FFCD9B;
        border-bottom: 7px solid #FFCD9B;
    }
}

.box-product {
    width: 100%;
    height: 380px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 90%;
        height: 380px;
        object-fit: contain;
    }
}

.nav-tabs {
    .nav-link {
        width: 100%;
        height: 76px;
        background: #FFFFFF;
        border: 1px solid #E1E1E1;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 90px;
        }
    }
}

.multimedia {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}

.v-box {
    width: 100%;
    border-radius: 20px;
    background-color: #E41C0E;
    min-height: 300px;
}

.m-box {
    width: 100%;
    border-radius: 20px;
    background-color: #FFEB00;
    min-height: 300px;
}

.hero-para {
    background-image: url(../img/bg-para.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.box-gray {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.conta-box {
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 340px;
    border-radius: 20px;

    i {
        font-size: 86px;
        color: #F99D42;
    }
}

.location-box {
    border: 1px solid #e1e1e1;
    border-radius: 20px;
}

.map {
    border-radius: 20px;
    overflow: hidden;

    iframe {
        width: 100%;
    }
}

.product-detail {
    width: 100%;
    height: 590px;

    img {
        width: 100%;
        height: 590px;
        object-fit: contain;
    }
}

.n-value {
    width: 100%;
    border-radius: 20px;
    height: 598px;
    background: linear-gradient(180deg, #E1DADA 0%, rgba(225, 218, 218, 0) 100%);
}
.incrediant {
    width: 100%;
    border-radius: 20px;
    height: 598px;
    background: linear-gradient(180deg, #FED5C4 0%, rgba(254, 213, 196, 0) 100%);
}
.list{
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
}